[submodule "back-end"]
	path = back-end
	url = https://github.com/CarcaraTec/Imagem_back
[submodule "front-end"]
	path = front-end
	url = https://github.com/CarcaraTec/Imagem_front
[submodule "Imagem_ML"]
	path = Imagem_ML
	url = https://github.com/CarcaraTec/Imagem_ML.git
[submodule "backend_security"]
        path = backend_security
        url = https://github.com/CarcaraTec/imagem_backend_security
